@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-geist-mono {
  font-family: var(--font-geist-mono);
}

.gradient-text {
  background: linear-gradient(90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%);
  background-size: 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientTextAnimation 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate-reverse;
}

@keyframes gradientTextAnimation {
  from {
    background-position: -800px;
  }

  to {
    background-position: 800px;
  }
}